<section class="content">
	<section class="container">
		<section data-ng-controller="HomeController">
			<div class="container" style="width: 100%;">
				<div class="row">
					<div class="col-md-6 text-center">
						<h3>All Automated PUS</h3>
					</div>
					<div class="col-md-6 text-center">
						<h3>ALL PUS</h3>
					</div>
				</div>
				<div class="row">
					<div class="theme-table-image col-sm-6">
						<img class="img-rounded" data-ng-init="finishedFailureAll()">
						<nvd3-pie-chart
								data="exampleData1"
								id="fishedFailed"
								width="550"
								height="350"
								x="xFunction()"
								y="yFunction()"
								color="FFColor()"
								showLegend="true"
								legendColor="FFColor()"
								tooltips="true"
								showLabels="true">
							<svg></svg>
						</nvd3-pie-chart>
						</img>
					</div>
					<div class="theme-table-image col-sm-6">
						<img class="img-rounded" data-ng-init="finishedAll()">
						<nvd3-pie-chart
								data="finishedAllData"
								id="fishedLeft"
								width="550"
								height="350"
								x="xFunction()"
								y="yFunction()"
								color="FAColor()"
								showLegend="true"
								legendColor="FAColor()"
								tooltips="true"
								showLabels="true">
							<svg></svg>
						</nvd3-pie-chart>
						</img>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<h3>All Components status(x10)</h3>
					</div>
					<div class="col-md-12 text-center">
						<img data-ng-init="getComponentData()">
						<nvd3-multi-bar-horizontal-chart
								data="exampleData"
								id="exampleId"
								xAxisTickFormat="xAxisTickFormatFunction()"
								yAxisTickFormat="yAxisTickFormatFunction()"
								showValues="true"
								valueFormat="valueFormatFunction()"
								width="1000"
								height="600"
								margin="{left:130,top:0,bottom:0,right:0}"
								showXAxis="true"
								showYAxis="true"
								interactive="true"
								tooltips="true"
								color="componentColor()"
								showLegend="true"
								legendColor="componentColor()">
							<svg></svg>
						</nvd3-multi-bar-horizontal-chart>
						</img>
					</div>
				</div>

			</div>
		</section>
	</section>
</section>
