<section class="content">
	<section class="container">
		<section data-ng-controller="ReportingsController" data-ng-init="getFailedPUS()">
			<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th>PUS table name</th>
					<th>Creator</th>
					<th>Team</th>
					<th>Component</th>
					<th>Status</th>
					<!--<th>Branch</th>
                    <th>Test Type</th>-->
					<!--<th>By</th>-->
					<th>Operation<th>
				</tr>
				<tr>


					<th colspan="3">
						<input st-search  class="form-control" placeholder="global search ..." type="text"/></th>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in displayedCollection">
					<td>{{row.name}}</td></a>
					<td>{{row.creator}}</td>
					<td>{{row.reviewer}}</td>
					<td>{{row.team}}</td>
					<td>{{row.component}}</td>
					<td>{{row.PUSStatus}}</td>
					<!--<td>{{row.branch}}</td>
                    <td>{{row.testType}}</td>-->
					<!--<td>{{pusManagement.user.displayName}}</td>-->
					<td><a ng-href="#!/pus-managements/{{row._id}}">Detailed Log</a>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</section>

	</section>
</section>
